.board {
    display: flex;
    flex-direction: column-reverse;
}

.column {
    /* border: 1px solid black; */
    /* width: 3rem;
    height: 3rem; */
    display: flex;
}

.row {
    outline: 1px solid black;
    width: 3rem;
    height: 3rem;
    display: flex;
}
