.main-container {
    display: flex;
    gap: 20px;
}
.board {
    display: flex;
    flex-direction: column-reverse;
}

.column {
    /* border: 1px solid black; */
    /* width: 3rem;
    height: 3rem; */
    display: flex;
}

.row {
    outline: 1px solid black;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.hit-ship {
    background-color: red;
}

.miss {
    background-color: blue;
}
